<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3056341095-grgp48kioh6qd0hkk2pfhjt2et2mju86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3056341095-grgp48kioh6qd0hkk2pfhjt2et2mju86</string>
	<key>API_KEY</key>
	<string>AIzaSyAWwlvBGJknDpn1bHdISJV03jBSvg3Ko9g</string>
	<key>GCM_SENDER_ID</key>
	<string>3056341095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.updstarter</string>
	<key>PROJECT_ID</key>
	<string>updstarter</string>
	<key>STORAGE_BUCKET</key>
	<string>updstarter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3056341095:ios:fb2617ed739f169d0044c2</string>
</dict>
</plist>